.input-list {
  position: relative;
  min-height: 200px;
  padding-bottom: 20px;
}

.add-button {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.card-list {
  overflow-x: scroll;
  white-space: nowrap;
}

.card-list mat-card {
  display: inline-block;
  margin: 10px;
}

mat-card-actions button {
  float: right;
}
