<div class="mixer">
  <h1>{{ name }}</h1>
  <div class="channels">
    <div class="channel" *ngFor="let channel of channels">
      <div class="slider">
        <mat-slider min="0" max="2" step="0.01" vertical="true" [value]="channel.volume"
                    (change)="changeVolume(channel, $event.value)"></mat-slider>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Input" [value]="channel.input_id"
                      (selectionChange)="changeInput(channel, $event.value)">
            <mat-option value="">None</mat-option>
            <mat-option *ngFor="let input of inputs | async" [value]="input.id">
              {{ input.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button mat-mini-fab class="add-button"
            matTooltip="Add a channel" matTooltipPosition="before"
            (click)="newChannel()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
